<app-navbar></app-navbar>
<div class="banner">
  <div class="row">
    <div class="col-sm-3 content1">
      <h1 class="typing">My Skin.</h1>
      <p>Luxury, science-led natural skincare made in New Zealandbacked by the highest calibre of green science and innovation in the industry.</p>
    </div>
    <div class="col-sm-6"></div>
    <div class="col-sm-3 content2">
      <a class="arrow" routerLink="menu" routerLinkActive="active-link">Shop now</a>
    </div>
  </div>
</div>
<app-footer></app-footer>
